<div class="w-full">
    <header class="bg-gray-100 p-4">
        <h1 class="text-3xl">Clientes</h1>
    </header>
    <main class="p-4">
        <div class="flex flex-wrap justify-end items-center">
            <mat-form-field class="w-full sm:w-64">
                <mat-label>Buscar por nome ou cidade</mat-label>
                <input matInput placeholder="Ex. João" [formControl]="searchCustomerControl">
                <mat-icon matSuffix class="text-gray-400">search</mat-icon>
            </mat-form-field>
            <mat-checkbox class="sm:mx-6" [(ngModel)]="inactiveCustomer" (ngModelChange)="getAllCustomers()">Listar
                Inativos</mat-checkbox>
            <div class="mb-3">
                <button
                    class="bg-green-500 border border-green-500 hover:bg-green-600 rounded-lg w-48 py-1 ml-3 text-white"
                    routerLink="cadastrar">Cadastrar Cliente</button>
            </div>
        </div>
        <hr class="mb-4">
        <div *ngIf="customers.length > 0" class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
            <div *ngFor="let customer of customers">
                <app-customers-card [customer]="customer" (update)="getAllCustomers()"></app-customers-card>
            </div>
        </div>

        <div *ngIf="customers.length === 0" class="flex justify-center">
            <h3>Não há registros a serem listados.</h3>
        </div>

    </main>
</div>