<main class="sm:flex justify-center">
    <mat-card class="mat-elevation-z8">
        <mat-card-content>
            <h4 class="text-lg mb-2">Endereço</h4>
            <form [formGroup]="form" (submit)="submit()">
                <div class="w-full md:w-4/12">
                    <mat-form-field class="w-full">
                        <mat-label>CEP</mat-label>
                        <input matInput formControlName="zipcode" mask="00.000-000">
                        <mat-error *ngIf="form.get('zipcode')?.invalid">Informe o CEP.</mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-wrap">
                    <div class="w-full md:w-8/12">
                        <mat-form-field class="w-full">
                            <mat-label>Logradouro</mat-label>
                            <input matInput formControlName="street">
                            <mat-error *ngIf="form.get('street')?.invalid">Informe o logradouro.</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="w-full md:w-4/12 md:pl-4">
                        <mat-form-field class="w-full">
                            <mat-label>Número</mat-label>
                            <input matInput formControlName="number">
                            <mat-error *ngIf="form.get('number')?.invalid">Informe o número do logradouro.</mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
                    <mat-form-field>
                        <mat-label>Complemento</mat-label>
                        <input matInput formControlName="complement">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Bairro</mat-label>
                        <input matInput formControlName="neighborhood">
                        <mat-error *ngIf="form.get('neighborhood')?.invalid">Informe o bairro.</mat-error>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
                    <mat-form-field class="w-full">
                        <mat-label>Cidade</mat-label>
                        <input matInput formControlName="city">
                        <mat-error *ngIf="form.get('city')?.invalid">Informe a cidade.</mat-error>
                    </mat-form-field>
    
                    <mat-form-field class="w-full">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('state')?.invalid">Informe o estado.</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Ponto de referência</mat-label>
                    <textarea matInput formControlName="referencePoint" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="5">
                </textarea>
                </mat-form-field>

                <div class="flex gap-3 justify-center mt-4">
                    <button type="button" class="bg-gray-200 border border-gray-300 hover:bg-gray-300 rounded-lg w-48 py-1"
                        (click)="back()">Voltar</button>
                    <button type="submit"
                        class="bg-green-400 border border-green-500 hover:bg-green-600 rounded-lg w-48 py-1 text-white"
                        >Salvar</button>
                </div>

            </form>

        </mat-card-content>
    </mat-card>
</main>